@import "variables";

:host {
  display: inline-flex;
  flex-direction: row;

  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;

  border: 0 solid $border-color;
  border-top-width: $border-width;
}
