@import "variables";

:host {
  display: inline-flex;
  flex-direction: row;

  flex-basis: $header-height;
  flex-grow: 0;
  flex-shrink: 0;

  border: 0 solid $border-color;
  border-bottom-width: $border-width;

  button {
    position: absolute;
    margin: 1rem;
  }
}
