mat-accordion
  mat-expansion-panel
    mat-expansion-panel-header
      mat-panel-title Trained data name
      mat-panel-description Trained data description
    mat-form-field
      input(matInput, placeholder='New trained data name')
    mat-form-field
      input(matInput, placeholder='New trained data description')
    button(mat-raised-button, color='primary') Save
    button(mat-raised-button, color='warn') Delete
    button(mat-raised-button, color='accent') Set as default
