mat-accordion
  mat-expansion-panel
    mat-expansion-panel-header
      mat-panel-title Trained data name
      mat-panel-description 2013-03-21 03:47:05
    mat-form-field
      input(matInput, placeholder='New trained data name', disabled)
    mat-form-field
      input(matInput, placeholder='New trained data description', disabled)
    button(mat-raised-button, color='primary', disabled) Save
    button(mat-raised-button, color='warn', disabled) Delete
    button(mat-raised-button, color='accent') Set as default
