mat-accordion
  mat-expansion-panel
    mat-expansion-panel-header
      mat-panel-title Trained data name
      mat-panel-description Trained data description
    mat-form-field
      input(matInput, placeholder='First name')
    mat-form-field
      input(matInput, placeholder='Age')
