@import "content-panel";

mat-card {
  width: 100%;
  margin: 1em;
}

.input-mat-card {
  
}

.input-textarea {
  height: 100px;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  // padding: 30px;  
}

.output-textarea {
  
}

.button-panel {
  // float: right;
  margin-top: 0px;
}


mat-checkbox {
  margin-right: 10px;
}

.grammar-content {
  width: 100%;
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
}


// Output text stiles
:host ::ng-deep .flag-letter-character-legitimacy-error {
  // background-color: yellow;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

:host ::ng-deep .flag-letter-grammar-legitimacy-error { 
  // background-color: yellow;
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

:host ::ng-deep .flag-letter-changed { 
  // background-color: yellow;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

:host ::ng-deep .flag-letter-optional { 
  color: green;
  font-weight: bold;
}

:host ::ng-deep .flag-letter-deleted { 
  color: gray;
  font-weight: bold;
  text-decoration: line-through;
  cursor: pointer;
}

:host ::ng-deep .flag-letter-inserted { 
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

:host ::ng-deep .flag-word-not-in-dictionary { 
  // background-color: yellow;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

:host ::ng-deep .flag-word-has-suggestions { 
  // text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


.container {
  display: table;
  width: 100%;
}

.container div {
  display: table-cell;
  width: 50%;
  background-color: aliceblue;
  min-height: 500px;
}

table {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  border-width: 1px;
}