button(mat-stroked-button, color='primary', routerLink='/dashboard', disabled) Dashboard
button(mat-stroked-button, color='primary', routerLink='/library') Library
button(mat-stroked-button, color='primary', routerLink='/ocr') OCR
button(mat-stroked-button, color='primary', routerLink='/grammar') Grammar
button(mat-stroked-button, color='primary', routerLink='/tessconfig') Tessconfig
