<button mat-stroked-button color="primary" routerLink="/dashboard" disabled>Dashboard</button>
<button mat-stroked-button color="primary" routerLink="/library">Library</button>
<button mat-stroked-button color="primary" routerLink="/ocr">OCR</button>
<button mat-stroked-button color="primary" routerLink="/comparison">Comparison</button>
<button mat-stroked-button color="primary" routerLink="/cmatrix">Confusion Matrix</button>
<button mat-stroked-button color="primary" routerLink="/grammar">Grammar</button>
<button mat-stroked-button color="primary" routerLink="/tessconfig">Tessconfig</button>
